<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Htmx presentation</title>

    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" th:href="@{/highlight/styles/atom-one-dark.min.css}">

    <script th:src="@{/js/htmx-2.0.0.min.js}"></script>
    <script th:src="@{/highlight/highlight.min.js}"></script>
</head>
<body>

<!--<div hx-trigger="keyup[keyCode==39], keup[keyCode==13]"></div>-->

<div id="container" hx-trigger="load" th:hx-get="@{${slide}}"></div>
</body>
</html>