<div class="spacer-5"></div>
<h2>htm<span class="highlight">x</span> works like this</h2>
<div class="spacer-5"></div>

<div class="center">
    <img class="ib" th:src="@{/images/htmx-post-reply.svg}" alt="post-reply">
</div>

<div class="sonat-logo"></div>

<div class="ctrl-buttons">
    <button hx-trigger="click, keyup[key=='ArrowLeft'] from:body"
            hx-target="#container"
            hx-push-url="true"
            hx-swap="innerHTML"
            th:hx-get="@{/slides/slide6}">Previous</button>
    <button hx-trigger="click, keyup[key=='ArrowRight'] from:body"
            hx-target="#container"
            hx-push-url="true"
            hx-swap="innerHTML"
            th:hx-get="@{/slides/slide8}">Next</button>
</div>